.quantity-selector-li{
  div{
    margin-bottom: 10px;
  }
}
.quantity-selector {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    border: none;
    outline: none;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
  }
}
.quantity-selector-btn-add{
  border: none;
  width: 300px;
  height: 50px;
  background:#3e6ae1;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
