.shop-page-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 87vh;

  .shop-page-content {
    text-align: center;
    width: 90%;

    .shop-page-title {
      font-size: clamp(20px, 10vw, 100px);
    }

    .shop-page-subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
      text-align: start;
    }

    .shop-page-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}


@media only screen and (max-width: 900px) {
  .shop-page-container {
    .shop-page-content {
      .shop-page-subtitle {
        justify-content: center;
        margin: 20px;
      }

      .shop-page-count {
        display: none;
      }

      .shop-page-items {
        justify-content: center;
      }
    }
  }
}
