.cart-item-container{
  border-bottom: 1px grey solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
  font-size: 20px;

  .cart-column-second{
    width: 300px;
    div{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  img{
    width: 80px;
    height:  80px;
  }
  button{
    border: none;
    background: none;
    cursor: pointer;
    margin: 10px;
  }
}
