.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
  .footer-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    li{
      font-size: clamp(8px, 1vw,14px);
      margin: 0 20px;
    }
  }
}
