.header-loader{
  position: fixed;
  top: 0;
  height: 2px;
  background: black;
  z-index:999;
  animation: grow 1.5s cubic-bezier(0.7, 0, 0.84, 0);;
}

@keyframes grow {
  0% {width: 0;}
  100% {width: 100%;}
}
